.primary__button {
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
    font-family: inherit;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    border: none;
    font-weight: 500;
    width: 10rem;

    &:hover {
        background-color: rgb(245, 245, 245);
        text-decoration: underline;
        cursor: pointer;
    }
}