body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-size: 62.5%;
}

main {
  padding: 2rem;
  height: calc(100vh - 2rem);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary__heading {
  font-size: 1.6rem;
  font-weight: 600;
}

.secondary__heading {
  font-size: 1.2rem;
  font-weight: 500;
}

